
  
  #rotatingFoodWrapper {
    width: 1370px;
    height: 718px;
    background-color: #171c23;
    box-sizing: border-box;
    background-image: url("../images/kitchenBLUR.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: bottom;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    animation-name: fadeInCarousel;
    animation-delay: 1.3s;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    visibility: hidden;
  }
  
  @keyframes fadeInCarousel {
    0%   { opacity: 0; visibility: visible; }
    100%   { opacity: 1; visibility: visible; }
  }
  

  #recentMealsText {
    position: relative;
    top: 30px;
    left: 30px;
    padding: 0 10px;
    display: inline;
    font-size: 20px;
    background-color: #FBFBFA;
    color: #2B2B2B;
    opacity: 0.3;
    font-family: 'PT Serif', sans-serif;
    /* font-family:  */
  }
  
  
  #tableWrapper {
    position: relative;
    left: -470px;
    top: -100px;
    width: 1000px;
    height: 1000px;
    perspective: 1200px;
    zoom: 1.1;
    z-index: 1;
  }
  
  #table {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../images/woodCircle.png");
    background-size: 100%;
    transform-origin: center;
    transform: rotateX(78deg) rotateZ(140deg);
    animation-name: tableSpin;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-style: preserve-3d;
  }
  
  html {
    --itemStart: -40deg;
  }
  
  .tableItemWrapper {
    width: 330px;
    height: 330px;
    position: relative;
    margin: 0;
    animation-duration: 10s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  .tableItemImg {
    width: 100%;
    height: 100%;
  }
  
  #tableItemWrap1 {
    left: 350px;
    transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg);
    animation-name: itemRotate;
  }
  
  #tableItemWrap2 {
    left: 300px;
    top: 350px;
    transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg);
    animation-name: itemRotate;
  }
  
  
  @keyframes tableSpin {
    0%   { transform: rotateX(78deg) rotateZ(140deg); }
    10%   { transform: rotateX(78deg) rotateZ(320deg); }
    20%   { transform: rotateX(78deg) rotateZ(320deg); }
    30%   { transform: rotateX(78deg) rotateZ(320deg); }
    40%   { transform: rotateX(78deg) rotateZ(320deg); }
    50%   { transform: rotateX(78deg) rotateZ(320deg); }
    60%   { transform: rotateX(78deg) rotateZ(500deg); }
    70%   { transform: rotateX(78deg) rotateZ(500deg); }
    80%   { transform: rotateX(78deg) rotateZ(500deg); }
    90%   { transform: rotateX(78deg) rotateZ(500deg); }
    100%   { transform: rotateX(78deg) rotateZ(500deg); }
  }
  
  html {
    --itemStart: -40deg;
    --itemMid: -220deg;
    --itemEnd: -400deg;
  }
  
  @keyframes itemRotate {
    0%    { transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    10%   { transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    20%   { transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    30%   { transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    40%   { transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    50%   { transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    60%   { transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    70%   { transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    80%   { transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    90%   { transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    100%  { transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
  }
  
  
  
  
  
  #card {
    width: 550px;
    height: 600px;
    padding: 15px 25px;
    box-sizing: border-box;
    position: relative;
    left: 770px;
    top: -1045px;
    background-color: #FBFBFA;
    font-family: 'PT Serif', sans-serif;
    animation-name: menuSlide;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-delay: 5s;
  }
  
  @keyframes menuSlide {
    0%   { transform: translate(0px, 0px); }
    5%   { transform: translate(1000px, 0px); }
    10%   { transform: translate(0px, 0px); }
    15%   { transform: translate(0px, 0px); }
    20%   { transform: translate(0px, 0px); }
    25%   { transform: translate(0px, 0px); }
    30%   { transform: translate(0px, 0px); }
    35%   { transform: translate(0px, 0px); }
    40%   { transform: translate(0px, 0px); }
    45%   { transform: translate(0px, 0px); }
    50%   { transform: translate(0px, 0px); }
    55%   { transform: translate(1000px, 0px); }
    60%   { transform: translate(0px, 0px); }
    65%   { transform: translate(0px, 0px); }
    70%   { transform: translate(0px, 0px); }
    75%   { transform: translate(0px, 0px); }
    80%   { transform: translate(0px, 0px); }
    85%   { transform: translate(0px, 0px); }
    90%   { transform: translate(0px, 0px); }
    95%   { transform: translate(0px, 0px); }
    100%   { transform: translate(0px, 0px); }
  }


.cardContainer {
  position: absolute;
  box-sizing: border-box;
  width: 500px;
  height: 570px;
  display: flex;
  flex-direction: column;
}
  
#cardContainer1 {
  animation-name: cardContainerFade1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 1;
  transition: 0s all;
}

#cardContainer2 {
  animation-name: cardContainerFade2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 0;
  transition: 0s all;
}

#cardContainer3 {
  animation-name: cardContainerFade3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 0;
  transition: 0s all;
}

@keyframes cardContainerFade1 {
  0%  { opacity: 0; }
  15% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 1; }
  38% { opacity: 1; }
  39% { opacity: 0; }
  50% { opacity: 0; }
  60% { opacity: 0; }
  70% { opacity: 0; }
  80% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes cardContainerFade2 {
  0%  { opacity: 0; }
  10% { opacity: 0; }
  20% { opacity: 0; }
  30% { opacity: 0; }
  39% { opacity: 0; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  67% { opacity: 1; }
  68% { opacity: 0; }
  80% { opacity: 0; }
  90% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes cardContainerFade3 {
  0%  { opacity: 0; }
  10% { opacity: 0; }
  20% { opacity: 0; }
  30% { opacity: 0; }
  40% { opacity: 0; }
  50% { opacity: 0; }
  60% { opacity: 0; }
  70% { opacity: 0; }
  71% { opacity: 1; }
  80% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 1; }
}



.carouselCardTitle {
  font-size: 40px;
  color: #2B2B2B;
  font-weight: 300;
  margin-bottom: 15px;
}

.carouselCardDate {
  font-size: 20px;
  color: #515151;
  font-weight: 300;
  margin-bottom: 15px;
}


.foodInformation {
  outline: 1px solid blue;
  height: 100%;
  box-sizing: border-box;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.foodInfoItem {
  width: 50%;
  height: 50%;
  outline: 1px solid red;
  justify-content: center;
  align-items: center;
}






  
#carouselProgress {
  width: 200px;
  height: 8px;
  position: relative;
  top: -1005px;
  left: calc(50% - 100px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 0.8;
}

.cProgBar {
  height: 100%;
  width: 50px;
  background-color: #FBFBFA;
}

#cProg1 {
  animation-name: progressFade1;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 1;
}

#cProg2 {
  animation-name: progressFade2;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 0.3;
}

#cProg3 {
  animation-name: progressFade3;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  opacity: 0.3;
}

@keyframes progressFade1 {
  0%  { opacity: 0.3; }
  10% { opacity: 1; }
  20% { opacity: 1; }
  30% { opacity: 1; }
  40% { opacity: 0.3; }
  50% { opacity: 0.3; }
  60% { opacity: 0.3; }
  70% { opacity: 0.3; }
  80% { opacity: 0.3; }
  90% { opacity: 0.3; }
  100% { opacity: 0.3; }
}

@keyframes progressFade2 {
  0%  { opacity: 0.3; }
  10% { opacity: 0.3; }
  20% { opacity: 0.3; }
  30% { opacity: 0.3; }
  40% { opacity: 1; }
  50% { opacity: 1; }
  60% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 0.3; }
  90% { opacity: 0.3; }
  100% { opacity: 0.3; }
}

@keyframes progressFade3 {
  0%  { opacity: 0.3; }
  10% { opacity: 0.3; }
  20% { opacity: 0.3; }
  30% { opacity: 0.3; }
  40% { opacity: 0.3; }
  50% { opacity: 0.3; }
  60% { opacity: 0.3; }
  70% { opacity: 0.3; }
  80% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 1; }
}