
  
  #rotatingFoodWrapper {
    width: 1370px;
    height: 718px;
    background-color: #171c23;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url("../images/kitchenBLUR.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-origin: bottom;
    margin: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-animation-name: fadeInCarousel;
            animation-name: fadeInCarousel;
    -webkit-animation-delay: 0.5s;
            animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    visibility: hidden;
  }

@media only screen and (max-width: 700px) {
  #rotatingFoodWrapper {
    height: 1350px;
    width: 750px;
    background-position-x: -430px;
    background-size: 350%;
  }
}
  
  @-webkit-keyframes fadeInCarousel {
    0%   { opacity: 0; visibility: visible; }
    100%   { opacity: 1; visibility: visible; }
  }
  
  @keyframes fadeInCarousel {
    0%   { opacity: 0; visibility: visible; }
    100%   { opacity: 1; visibility: visible; }
  }
  
  
  #tableWrapper {
    position: relative;
    left: -470px;
    top: -80px;
    width: 1000px;
    height: 1000px;
    -webkit-perspective: 1200px;
            perspective: 1200px;
    zoom: 1.1;
    z-index: 1;
  }

  @media only screen and (max-width: 700px) {
    #tableWrapper {
      top: 460px;
      zoom: 1.15;
    }
  }
  
  #table {
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("../images/woodCircle.png");
    background-size: 100%;
    -webkit-transform-origin: center;
        -ms-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotateX(78deg) rotateZ(140deg);
            transform: rotateX(78deg) rotateZ(140deg);
    -webkit-animation-name: tableSpin;
            animation-name: tableSpin;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  
  html {
    --itemStart: -40deg;
  }
  
  .tableItemWrapper {
    width: 330px;
    height: 330px;
    position: relative;
    margin: 0;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  
  .tableItemImg {
    width: 100%;
    height: 100%;
  }
  
  #tableItemWrap1 {
    left: 350px;
    -webkit-transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg);
            transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg);
    -webkit-animation-name: itemRotate;
            animation-name: itemRotate;
  }
  
  #tableItemWrap2 {
    left: 300px;
    top: 350px;
    -webkit-transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg);
            transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg);
    -webkit-animation-name: itemRotate;
            animation-name: itemRotate;
  }
  
  
  @-webkit-keyframes tableSpin {
    0%   { -webkit-transform: rotateX(78deg) rotateZ(140deg); }
    10%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    20%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    30%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    40%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    50%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    60%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    70%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    80%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    90%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    100%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
  }
  
  
  @keyframes tableSpin {
    0%   { -webkit-transform: rotateX(78deg) rotateZ(140deg); }
    10%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    20%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    30%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    40%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    50%   { -webkit-transform: rotateX(78deg) rotateZ(320deg); }
    60%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    70%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    80%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    90%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
    100%   { -webkit-transform: rotateX(78deg) rotateZ(500deg); }
  }
  
  html {
    --itemStart: -40deg;
    --itemMid: -220deg;
    --itemEnd: -400deg;
  }
  
  @-webkit-keyframes itemRotate {
    0%    { -webkit-transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    10%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    20%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    30%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    40%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    50%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    60%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    70%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    80%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    90%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    100%  { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
  }
  
  /* commenting out to try to fix Safari CSS error, food jumping up from table */
  /* @keyframes itemRotate {
    0%    { -webkit-transform: rotateZ(var(--itemStart)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    10%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    20%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    30%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    40%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    50%   { -webkit-transform: rotateZ(var(--itemMid)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    60%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    70%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    80%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    90%   { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
    100%  { -webkit-transform: rotateZ(var(--itemEnd)) translateZ(160px) rotateX(-90deg) rotateY(90deg); }
  }*/  
  
  
  
  
  #card {
    width: 550px;
    height: 600px;
    padding: 15px 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    left: 740px;
    top: -1045px;
    background-color: #FBFBFA;
    font-family: 'PT Serif', sans-serif;
    -webkit-animation-name: menuSlide;
            animation-name: menuSlide;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 10s;
            animation-duration: 10s;
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
    cursor: pointer;
  }

  @media only screen and (max-width: 700px) {
    #card {
      left: 90px;
      top: -1095px;
    }
  }
  
  @-webkit-keyframes menuSlide {
    0%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    5%   { -webkit-transform: translate(1000px, 0px); transform: translate(1000px, 0px); }
    10%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    15%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    20%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    25%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    30%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    35%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    40%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    45%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    50%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    55%   { -webkit-transform: translate(1000px, 0px); transform: translate(1000px, 0px); }
    60%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    65%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    70%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    75%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    80%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    85%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    90%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    95%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    100%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  }
  
  @keyframes menuSlide {
    0%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    5%   { -webkit-transform: translate(1000px, 0px); transform: translate(1000px, 0px); }
    10%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    15%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    20%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    25%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    30%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    35%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    40%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    45%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    50%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    55%   { -webkit-transform: translate(1000px, 0px); transform: translate(1000px, 0px); }
    60%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    65%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    70%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    75%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    80%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    85%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    90%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    95%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
    100%   { -webkit-transform: translate(0px, 0px); transform: translate(0px, 0px); }
  }

.cardLink {
  width: 100%;
  height: 200px;
  outline: solid black 1px;
}


.cardContainer {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 500px;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
  
#cardContainer1 {
  opacity: 1;
  -webkit-transition: 0s all;
  -o-transition: 0s all;
  transition: 0s all;
}



.carouselCardTitle {
  font-size: 40px;
  color: #2B2B2B;
  font-weight: 300;
  margin-bottom: 15px;
}

.carouselCardDate {
  font-size: 20px;
  color: #515151;
  font-weight: 300;
  margin-bottom: 15px;
}


.foodInformation {
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foodInfoItem {
  width: 50%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.foodInfoItem img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}

.foodInfoItem span {
  font-size: 30px;
  color: #2B2B2B;
}



